n8n-prototipi/leads generation Bicycle.json
{
  "name": "leads generation Bicycle",
  "nodes": [
    {
      "parameters": {
        "content": "Fase 1 — Code + IF stock\n\n Sostituisci codice nel Code stock check\n Aggiungi IF node \"IF stock disponibile\" dopo il Code\n Testa con dati validi: verifica che l'output ha canFulfillOrder\n\nFase 2 — Scrivi ordine\n\n Collega entrambi i path dell'IF a \"AGGIORNAMENTO ORDINI\"\n Aggiorna i field mappings come da sezione 3\n Verifica che la colonna id esiste nel Google Sheet\n\n",
        "height": 944,
        "width": 1152,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5200,
        8080
      ],
      "typeVersion": 1,
      "id": "932ece10-f74c-4859-a949-55762bfc2550",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 944,
        "width": 1488,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4032,
        8080
      ],
      "typeVersion": 1,
      "id": "9a1f3e50-9b5b-4dac-bc80-6aeeb7496329",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.CustomerName }}\n{{ $json.body.Email }}\n{{ $json.body['Shipping Address'] }}\n{{ $execution.id }}",
        "options": {
          "systemMessage": "You are a data validation agent. You validate two fields from form submissions: Shipping Address and Email.\n\nVALIDATION EMAIL RULES:\n\n**Email**: Must contain \"@\" and at least one \".\" after the \"@\". Nothing else to check. If both are present, the email is VALID.\n\n**Address**: Must contain ALL of these components: street name, street number, postal code, city, country. If all components are present, the address is VALID. Do NOT judge whether the address is \"real\" — only check that the format is complete.\n\nExamples of VALID addresses:\n- \"Vicolo Largo, 13, 25010 Vesio BS, Italy\" ✅ (has street, number, postal code, city, country)\n- \"123 Main St, 90210 Los Angeles, USA\" ✅\n\nExamples of INVALID addresses:\n- \"somewhere in Italy\" ❌ (missing street, number, postal code)\n- \"Via Roma\" ❌ (missing number, postal code, city, country)\n\n## Output Rules\n\nIf BOTH fields are VALID:\n- Output: \"VALID - [customerName] - Address and email verified\"\n- DO NOT use any tools\n\nIf ONE or BOTH fields are INVALID:\n- Use \"UPDATED CLIENT DB\" tool to append customer data with status PENDING_VERIFICATION\n- Use \"Send a message in Gmail\" tool to ask customer for corrected information\n- Output: \"PENDING_VERIFICATION - [customerName] - Invalid fields: [email/address/both]\"\n\n## Critical Rules\n- NEVER use tools when data is valid\n- ALWAYS use BOTH tools when data is invalid\n- Your output MUST start with either \"VALID\" or \"PENDING_VERIFICATION\"\n- If unsure about an address, check ONLY for the 5 required components — nothing else",
          "maxIterations": 100,
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -4864,
        8288
      ],
      "id": "7452603d-f8e6-41c0-860d-9e70f0675983",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -4880,
        8480
      ],
      "id": "5500f963-69a3-4ca2-80af-064ac8f904d1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Z2zT01QqgRlndMbx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inventoryItems = $input.all();\nconst webhookData = $('Webhook').first().json.body;\n\nconst orderedModelRaw = (webhookData['Bicycle Models'] && webhookData['Bicycle Models'][0]) || \"\";\nconst orderedModel = orderedModelRaw.replace(/\\s+/g, ' ').trim();\n\nconsole.log(\"=== DEBUG START ===\");\nconsole.log(\"Ordine richiesto (dopo trim):\", orderedModel);\nconsole.log(\"Numero items letti dal Google Sheet:\", inventoryItems.length);\n\nconst qtyKey = `Quantity ${orderedModel}`;\nconst orderedQty = parseInt(webhookData[qtyKey] || \"0\", 10);\n\nlet resultItem = null;\nlet stockAvailable = false;\n\nfor (const item of inventoryItems) {\n  const sheetModel = (item.json.bicycleModels || \"\").toString().replace(/\\s+/g, ' ').trim();\n  const currentStock = parseInt(item.json.stock || \"0\", 10);\n  \n  console.log(`Confronto: Sheet=\"${sheetModel}\" vs Ordine=\"${orderedModel}\" | Match: ${sheetModel === orderedModel}`);\n\n  if (sheetModel === orderedModel && sheetModel !== \"\") {\n    if (currentStock >= orderedQty) {\n      stockAvailable = true;\n      item.json.newStock = currentStock - orderedQty;\n      item.json.newStatus = \"CONFIRMED\";\n    } else {\n      stockAvailable = false;\n      item.json.newStock = currentStock;\n      item.json.newStatus = \"DELAYED\";\n    }\n    resultItem = item;\n    console.log(\"TROVATO! Stock disponibile:\", stockAvailable);\n    break;\n  }\n}\n\nif (!resultItem) {\n  console.log(\"ERRORE: Nessun match trovato!\");\n  resultItem = {\n    json: {\n      bicycleModels: orderedModel,\n      stock: 0,\n      newStock: 0,\n      newStatus: \"ERROR\",\n      stockAvailable: false,\n      error: \"Modello non trovato\"\n    }\n  };\n}\n\nresultItem.json.customerName = webhookData.CustomerName || \"Unknown\";\nresultItem.json.email = webhookData.Email || \"no-reply@test.com\";\nresultItem.json.orderId = webhookData.OrderID || \"NO-ID\";\nresultItem.json.shippingAddress = webhookData['Shipping Address'] || \"No Address\";\nresultItem.json.orderedQty = orderedQty;\nresultItem.json.stockAvailable = stockAvailable;\n\nreturn [resultItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4272,
        8304
      ],
      "id": "8d5e8e65-01e3-4365-b5f1-49e054823bc0",
      "name": "code java validation (check ordini if stock sufficente)"
    },
    {
      "parameters": {
        "sendTo": "={{ $('code java validation (check ordini if stock sufficente)').item.json.email }}",
        "subject": "Order Confirmed - Your Bicycles Are On The Way!",
        "message": "=Dear {{ $('code java validation (check ordini if stock sufficente)').item.json.customerName }},\n\nYour order has been confirmed!\n\nOrder Details:\n- Models: {{ $('code java validation (check ordini if stock sufficente)').item.json.bicycleModels }}\n- Order ID: {{ $('code java validation (check ordini if stock sufficente)').item.json.orderId }}\n- Total: € {{ $('code java validation (check ordini if stock sufficente)').item.json.totalPrice }}\n- Estimated Delivery: 2-4 business days\n\nShipping to:\n{{ $('code java validation (check ordini if stock sufficente)').item.json.address }}\n\nThank you!\nThe Bicycle Shop Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -3712,
        8144
      ],
      "id": "2d2b522f-66e1-49c7-a382-4196c7e27a4c",
      "name": "Send a message to client order is confirmed",
      "webhookId": "0fd2e577-401d-4952-97af-44dd7a090ea8",
      "credentials": {
        "gmailOAuth2": {
          "id": "53D8kOUWF37L6Qfx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ZX8fvh5b89WdVL1ZyK3EOBHg0svtpRdsAnEP3McqUaM",
          "mode": "list",
          "cachedResultName": "Inventario - Magazzino",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZX8fvh5b89WdVL1ZyK3EOBHg0svtpRdsAnEP3McqUaM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foglio1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZX8fvh5b89WdVL1ZyK3EOBHg0svtpRdsAnEP3McqUaM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "bicycleModels": "={{ $json.bicycleModels }}",
            "stock": "={{ $json.newStock }}",
            "row_number": 0,
            "status": "={{ $json.newStatus }}"
          },
          "matchingColumns": [
            "bicycleModels"
          ],
          "schema": [
            {
              "id": "bicycleModels",
              "displayName": "bicycleModels",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stock",
              "displayName": "stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3936,
        8336
      ],
      "id": "2bfd7c94-1171-4520-8adb-3d9d6697858c",
      "name": "aggiornamento finale dello stock",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "78DXOMq3gmiXam1g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZX8fvh5b89WdVL1ZyK3EOBHg0svtpRdsAnEP3McqUaM",
          "mode": "list",
          "cachedResultName": "Inventario - Magazzino",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZX8fvh5b89WdVL1ZyK3EOBHg0svtpRdsAnEP3McqUaM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foglio1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZX8fvh5b89WdVL1ZyK3EOBHg0svtpRdsAnEP3McqUaM/edit#gid=0"
        },
        "options": {}
      },
      "id": "3aa7f01e-9da5-4e85-bb4c-2b6a318f5765",
      "name": "Read Inventory Stock",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4528,
        8320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "78DXOMq3gmiXam1g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KmduRcQ9yJSoW2HMfEkhGjlBMYCMqin7esWOO8ASZ9g",
          "mode": "list",
          "cachedResultName": "Manual verification client DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KmduRcQ9yJSoW2HMfEkhGjlBMYCMqin7esWOO8ASZ9g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foglio1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KmduRcQ9yJSoW2HMfEkhGjlBMYCMqin7esWOO8ASZ9g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CustomerName": "={{ $json.body.CustomerName }}",
            "email": "={{ $json.body.Email }}",
            "Shpping adresss": "={{ $json.body['Shipping Address'] }}",
            "correctionAttempts": "0",
            "Id": "={{ $execution.id }}",
            "Timestamp": "={{ $now.toISO() }} ",
            "orderStatus": "PENDING_VALIDATION"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CustomerName",
              "displayName": "CustomerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Shpping adresss",
              "displayName": "Shpping adresss",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "orderStatus",
              "displayName": "orderStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bicycle Models",
              "displayName": "Bicycle Models",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correctionAttempts",
              "displayName": "correctionAttempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "validatedAt",
              "displayName": "validatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -4736,
        8480
      ],
      "id": "2d451bb3-69dd-4a4f-a683-f1eab8b19b42",
      "name": "UPDATED CLIENT DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "78DXOMq3gmiXam1g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "e177a163-f661-4781-8307-c35e4f823c6d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5056,
        8304
      ],
      "id": "61d7de5f-4355-4151-99ee-fc6fac83ff0b",
      "name": "Webhook",
      "webhookId": "e177a163-f661-4781-8307-c35e4f823c6d"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1J8ZR-36FTux6lTkcSJQ0s9BiBBMYPXckkA4kHMs0Kkc",
          "mode": "list",
          "cachedResultName": "Ordini -Mese-Febbraio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J8ZR-36FTux6lTkcSJQ0s9BiBBMYPXckkA4kHMs0Kkc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1771101534,
          "mode": "list",
          "cachedResultName": "Ordini -Mese-Febbraio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J8ZR-36FTux6lTkcSJQ0s9BiBBMYPXckkA4kHMs0Kkc/edit#gid=1771101534"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.orderId }}",
            "customerName": "={{ $json.customerName }}",
            "Email": "={{ $json.email }}",
            "adress": "={{ $json.shippingAddress }}",
            "bicycleModel": "={{ $json.bicycleModels }}",
            "quantity": "={{ $json.orderedQty }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customerName",
              "displayName": "customerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "adress",
              "displayName": "adress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bicycleModel",
              "displayName": "bicycleModel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "orderDate",
              "displayName": "orderDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3936,
        8144
      ],
      "id": "d2ec3139-1511-4f32-b9d6-2e5a84039c95",
      "name": "AGGIORNAMENTO ORIDINI",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "78DXOMq3gmiXam1g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Order Update - Brief Delivery Delay",
        "emailType": "text",
        "message": "=Dear {{ $json.customerName }},  Thank you for your order!  We're processing your request for: {{ $json.bicycleModels }}  Due to high demand, there will be a brief delay (1-2 additional days) in delivery. We're working to get your order to you as quickly as possible.  Total: € {{ $json.totalPrice }} Updated delivery: 4-6 business days  We apologize for the inconvenience.  Best regards, The Bicycle Shop Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -3936,
        8560
      ],
      "id": "b5300bd6-9cd7-4fdf-9307-ccadc2010562",
      "name": "EMAIL FOR DELAY ODER",
      "webhookId": "db5f33eb-e6a3-4592-b9ca-9208343f3315",
      "credentials": {
        "gmailOAuth2": {
          "id": "53D8kOUWF37L6Qfx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "magazzino@tuaazienda.com.",
        "subject": "Nuovo Ordine Urgente",
        "emailType": "text",
        "message": "=⚠️ STOCK INSUFFICIENTE — Ordine {{ $json.orderId }}  Cliente: {{ $json.customerName }} Prodotti mancanti: {{ $json.outOfStockItems }}  Azione richiesta: ordinare stock per evadere ordine. Deadline: 48h",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -3936,
        8752
      ],
      "id": "f2ab80e3-62d6-4da4-b1ab-221f857845ce",
      "name": "EMAIL PER IL MAGAZZINIERE (MODELLO RICHESTO OUT-OF-STOCK)",
      "webhookId": "9801483d-a5aa-4e75-a7f6-c818e9acdb60",
      "credentials": {
        "gmailOAuth2": {
          "id": "53D8kOUWF37L6Qfx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "NODO ORIDNI CONFERMATI",
        "height": 400,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2928,
        8080
      ],
      "typeVersion": 1,
      "id": "552f2209-db65-4e07-9119-350d733ff6f8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "NODO ORDINI NO STOCK \n\nDELAY (CLIENT) + (CONTACT WHERHOUSE)",
        "height": 544,
        "width": 528,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2928,
        8496
      ],
      "typeVersion": 1,
      "id": "ba0eeb69-0990-40c7-990a-048dcebc8b45",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.Email }}",
        "subject": "WE NEED MORE INFO",
        "message": "DEAR CUSTOMER THERE IS A MISTAKE IN YOUR SHIPPING INFORMATIOM",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -4608,
        8480
      ],
      "id": "6e240fd7-4a6c-49c2-ac16-d06e0442f886",
      "name": "Send a message in Gmail",
      "webhookId": "424f49e2-f36e-49ea-aeee-13088b32da79",
      "credentials": {
        "gmailOAuth2": {
          "id": "53D8kOUWF37L6Qfx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "10cb6dae-bfd3-4d6d-b66a-6ef6a2813914",
              "leftValue": "={{ $('code java validation (check ordini if stock sufficente)').item.json.stockAvailable }}\n",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4128,
        8304
      ],
      "id": "729f4eda-d8c3-4601-8129-9a6edd81997e",
      "name": "IF: Condition, stockAvailable =true",
      "executeOnce": false
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "code java validation (check ordini if stock sufficente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "code java validation (check ordini if stock sufficente)": {
      "main": [
        [
          {
            "node": "IF: Condition, stockAvailable =true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Inventory Stock": {
      "main": [
        [
          {
            "node": "code java validation (check ordini if stock sufficente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATED CLIENT DB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Inventory Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGGIORNAMENTO ORIDINI": {
      "main": [
        [
          {
            "node": "Send a message to client order is confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message to client order is confirmed": {
      "main": [
        []
      ]
    },
    "aggiornamento finale dello stock": {
      "main": [
        []
      ]
    },
    "EMAIL FOR DELAY ODER": {
      "main": [
        []
      ]
    },
    "EMAIL PER IL MAGAZZINIERE (MODELLO RICHESTO OUT-OF-STOCK)": {
      "main": [
        []
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "IF: Condition, stockAvailable =true": {
      "main": [
        [
          {
            "node": "AGGIORNAMENTO ORIDINI",
            "type": "main",
            "index": 0
          },
          {
            "node": "aggiornamento finale dello stock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EMAIL FOR DELAY ODER",
            "type": "main",
            "index": 0
          },
          {
            "node": "EMAIL PER IL MAGAZZINIERE (MODELLO RICHESTO OUT-OF-STOCK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "callerPolicy": "any",
    "timeSavedPerExecution": 1
  },
  "versionId": "2c05afd5-0020-4440-9c8e-4bcda92673b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6340a675df2a727ab15ed3f6d8d62880dbe20df9d0152fe8457b488c5c92e1e"
  },
  "id": "yrD122q8VMjLpE9rXRhQC",
  "tags": []
}